@using TeaShopApi.WebUI.Dtos.EventsDtos
@model UpdateEventsDto
@{
    ViewData["Title"] = "UpdateEvents";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="EventsID"/>
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <label>Resim</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />

    <button class="btn btn-primary">Güncelle</button>
</form>

