﻿<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					<label>Navigation</label>
				</li>
				<li class="nav-item">
					<a href="/Admin/Dashboard/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Anasayfa</span></a>
				</li>
				<li class="nav-item pcoded-hasmenu">
					<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Menü</span></a>
					<ul class="pcoded-submenu">
						<li><a href="layout-vertical.html" target="_blank">Vertical</a></li>
						<li><a href="layout-horizontal.html" target="_blank">Horizontal</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="/Admin/Drink/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">İçecekler</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Testimonial/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Referanslar</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/About/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Hakkında</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/MainPage/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Anasayfa</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Services/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Hizmetler</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Event/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Etkinlikler</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Chefs/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Aşçılar</span></a>
				</li>
				</ul>

			

		</div>
	</div>
</nav>