@using TeaShopApi.WebUI.Dtos.MainFoodDtos
@model CreateMainFoodDto
@{
    ViewData["Title"] = "CreateMainFood";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<h1>Yeni Ana Yemek Girişi</h1>

<form method="post">
    <label>Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Resimi</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Fiyatı</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />

    <button class="btn btn-primary">Ekle</button>
</form>
