@model List<TeaShopApi.WebUI.Dtos.TestimonialDtos.ResultTestimonialDto>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";

}

<div class="row">
	<!-- [ sample-page ] start -->
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Referans Sayfası</h5>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<th>#</th>
						<th>Ad</th>
						<th>Açıklama</th>
						<th>Resim</th>
						<th>Sil</th>
						<th>Güncelle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.testimonialID</td>
							<td>@item.testimonialName</td>
							<td>@item.testimonialComment</td>
							<td>@item.testimonialImageUrl</td>
							<td><a href="/Admin/Testimonial/DeleteTestimonial/@item.testimonialID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/Testimonial/UpdateTestimonial/@item.testimonialID" class="btn btn-outline-success">Güncelle</a></td>
						</tr>
					}
				</table>
				<a href="/Admin/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Yeni Referans Girişi</a>

			</div>
		</div>
	</div>
	<!-- [ sample-page ] end -->
</div>