@using TeaShopApi.WebUI.Dtos.AboutPageDtos
@model CreateAboutPageDto

@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<h1>Yeni Hakkında Girişi</h1>

<form method="post">
    <label>Resim</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Video</label>
    <input type="text" asp-for="VideoUrl" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description " class="form-control" />
    <br />
    <label>Tel no</label>
    <input type="text" asp-for="No" class="form-control" />
    <br />

    <button class="btn btn-primary">Ekle</button>
</form>
