@model List<TeaShopApi.WebUI.Dtos.GalleryDtos.ResultGalleryDto>

@{
    Layout = null;
}


<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>gallery</h2>
            <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">
                @foreach (var item in Model)
                {


                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Yummy/assets/img/gallery/gallery-1.jpg"><img src="@item.ImageUrl" class="img-fluid" alt=""></a></div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Gallery Section -->
